# general*
*DS_STORE
*html

# experiment
experiment/recordings
experiment/data
experiment/midi

# material
material/prerating/feedback.md
material/expstimuli/tweaked/*txt
material/expstimuli/tweaked/*mid

# others
others