# general*
*DS_STORE
*html

# analysis
analysis/filtered
analysis/raw_data

# experiment
experiment/data
experiment/midi

# material
material/prerating/feedback.md
material/expstimuli/tweaked/*txt
material/expstimuli/tweaked/*mid

# others
others