# general*
*DS_STORE
*html
*docx

# experiment
experiment/data
experiment/midi

# analysis
analysis/preprosessor/raw_data/removed

# material
material/expstimuli/audio/original/averaging/low/old
material/prerating/feedback.md

# paper
manuscript_files

# others
others